
<ul class="s-colors">
	<li>
		<span class="s-swatch" style="background: #ffffff;"></span>
		<span class="s-label">
      $color-white <br />
      #ffffff
    </span>
	</li>
	<li>
		<span class="s-swatch" style="background: #f1f1f1;"></span>
		<span class="s-label">
      $color-white-dark <br />
      #f1f1f1
    </span>
	</li>
	<li>
		<span class="s-swatch" style="background: #e9e9e9;"></span>
		<span class="s-label">
      $color-white-super-dark <br />
      #e9e9e9
    </span>
	</li>
  <!-- IDEA choose btwn white super dark and grey super light -->
	<!-- <li>
		<span class="s-swatch" style="background: #f1efef;"></span>
		<span class="s-label">
			$color-grey-super-light <br />
			#f1efef
		</span>
	</li> -->
	<li>
		<span class="s-swatch" style="background: #dbdbdb;"></span>
		<span class="s-label">
			$color-grey-light <br />
			#dbdbdb
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #c5c5c5;"></span>
		<span class="s-label">
			$color-grey <br />
			#c5c5c5
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #767676;"></span>
		<span class="s-label">
			$color-grey-dark <br />
			#767676
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #333333;"></span>
		<span class="s-label">
			$color-black <br />
			#333333
		</span>
	</li>
</ul>