<ul class="s-colors">
	<li>
		<span class="s-swatch" style="background: #1fe31f;"></span>
		<span class="s-label">
      $color-utility-positive <br />
      #1fe31f
    </span>
	</li>
	<li>
		<span class="s-swatch" style="background: #d2f9d2;"></span>
		<span class="s-label">
			$color-utility-positive-subtle <br />
			#d2f9d2
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #fada4a;"></span>
		<span class="s-label">
			$color-utility-caution <br />
			#fada4a
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #fdf3c8;"></span>
		<span class="s-label">
			$color-utility-caution-subtle <br />
			#fdf3c8
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #e31f1f;"></span>
		<span class="s-label">
			$color-utility-negative <br />
			#e31f1f
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #eb6262;"></span>
		<span class="s-label">
			$color-utility-negative-subtle <br />
			#eb6262
		</span>
	</li>
</ul>