<div>Primary font: "Proxima Nova", "Helvetica", "Arial", sans-serif;</div>
<div><em>Primary font italic: "Proxima Nova", "Helvetica", "Arial", sans-serif;</em></div>
<div style="font-weight: 700;">Primary font bold: "Proxima Nova", "Helvetica", "Arial", sans-serif;</div>
<!-- <div class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</div>
<div class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; Georgia, Times, "Times New Roman", serif;</strong></div> -->