@charset "UTF-8";
/*
        ▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐
▌▌▌▌▌▌▌▌▌░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▌▌▌▌▌▌▌▌▌
▌▌▌▌▌▌▌▌▌░░██████░░███████░░█████░░░██████░░▌▌▌▌▌▌▌▌▌
▌▌▌▌▌▌▌▌▌░░██░░░░░░░░██░░░░██░░░██░░██░░░██░▌▌▌▌▌▌▌▌▌
▌▌▌▌▌▌▌▌▌░░██████░░░░██░░░░██░░░██░░██████░░▌▌▌▌▌▌▌▌▌
▌▌▌▌▌▌▌▌▌░░░░░░██░░░░██░░░░██░░░██░░██░░░░░░▌▌▌▌▌▌▌▌▌
▌▌▌▌▌▌▌▌▌░░██████░░░░██░░░░░████░░░░██░░░░░░▌▌▌▌▌▌▌▌▌
▌▌▌▌▌▌▌▌▌░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▌▌▌▌▌▌▌▌▌
        ▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐▐

Make sure you know what you're doing before you take another step. 
This is the import page for the SCSS styles which are being compiled 
to the style.css file. This file handles the imports and any imports
added to this file should also be updated in the corresponding entry 
of the style guide. 
 
Atomic design is philosophically complimentary with these CSS approaches:
* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : https://github.com/csswizardry/CSS-Guidelines
So feel free to use any of these approaches. Or don't. It's totally up to you.
*/
/*------------------------------------*    $TABLE OF CONTENTS
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * ABSTRACTS..............Declarations of Sass variables and mixins
 * Mixins.................Mixin styles that are included in the site
 * Variables..............Variables for styles that are used in the site
 *
 * BASE...................Base/reset styles for certain elements
 * Animation..............Animation base styles
 * Forms..................Form field base styles
 * Global Classes.........Base styles used across the entirety of the site
 * Headings...............Base styles for headings (h1, h2, etc.)
 * Links..................Base styles for links
 * Lists..................Base styles lists
 * Main...................Base styles for main section
 * Media..................Base styles for various media (videos, iframes, etc.)
 * Reset..................Reset base styles (i.e. Display block on certain elements)
 * Tables.................Base styles for tables
 * Text...................Base styles for text elements
 *
 * COMPONENTS.............Styles for certain components
 * Accordion..............Styles for accordion components
 * Article................Styles for article components
 * Blocks.................Styles for block components
 * Buttons................Styles for button components
 * Carousels..............Styles for carousels
 * Comments...............Styles for comments component
 * Footer.................Styles for the footer component
 * Forms..................Styles for form components
 * Header.................Styles for header component
 * Icons..................Styles for icons
 * Lists..................Styles for types of lists
 * Main...................Styles for main section
 * Messaging..............Styles for alerts/messaging components
 * Nav....................Styles for navigation components
 * Sections...............Styles for section components
 * Tabs...................Styles for tabs
 * Text...................Styles for text components
 * Tooltip................Styles for tooltips
 *
 * LAYOUT.................Styles that affect the site's general layout
 * Layout.................Layout styles
 *
 * UTILITIES..............Styles that require a utility class
 *
 */
/*------------------------------------*    $ABSTRACTS
\*------------------------------------*/
/*------------------------------------*    #MIXINS
\*------------------------------------*/
/** CSS Transition
 *	Usage: @include transition(width,0.3s,ease-out);
 */
/** Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
 *	Usage: @include font-size(1, large);
 */
/*------------------------------------*    #VARIABLES
\*------------------------------------*/
/*------------------------------------*    #COLORS
\*------------------------------------*/
/*
 * 1) Color variables involve a two-tier system to keep colors in sync. The
 *    first tier defines the brand and neutral colors, and the second tier
 *    defines the application of those colors.
 */
/*
 * Brand Colors
 * 1) Brand color variables use English names to define colors to make palettes easier to
 *    identify. Names are generated using this tool: http://chir.ag/projects/name-that-color/
 * 2) Brand color variables should typically not be used directly in Sass partials. Instead, use
 *    second-tier application colors.
 *
 */
/*
 * Greyscale Colors
 * 1) Greyscale color variables define variables for better grayscale maintainability
 */
/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 * form validation, etc.
 */
/*------------------------------------*    #TEXT COLORS
\*------------------------------------*/
/*------------------------------------*    #HEADING COLORS
\*------------------------------------*/
/*------------------------------------*    #LINK COLORS
\*------------------------------------*/
/*------------------------------------*    #BORDER COLORS
\*------------------------------------*/
/*------------------------------------*    #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*    #LAYOUT
\*------------------------------------*/
/**
 * Spacing Defaults
 */
/*------------------------------------*    #BORDERS
\*------------------------------------*/
/**
 * Border Width
 */
/**
 * Border Radius
 */
/*------------------------------------*    #ANIMATION
\*------------------------------------*/
/**
 * Animation Duration
 */
/**
 * Animation Easing
 */
/*------------------------------------*    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints
 */
/*------------------------------------*    #SCAFFOLDING
\*------------------------------------*/
/*------------------------------------*    #OVERRIDES
\*------------------------------------*/
/*
  * Title Overrides
  * Adds correct sizing and styles to category and patter titles
*/
div h3.sg-pattern-title {
  font-size: 1.5rem !important; }

div h2.sg-pattern-category-title {
  font-size: 2.25rem !important; }
  div h2.sg-pattern-category-title a.patternLink, div h2.sg-pattern-category-title a.patternLink:visited {
    color: grey !important;
    font-weight: 700; }
  div h2.sg-pattern-category-title a.patternLink:focus, div h2.sg-pattern-category-title a.patternLink:hover {
    color: #333333 !important; }

/*
  * Grouping Elements
  * Added to group several elements together
*/
.s-groups {
  display: flex;
  margin: 0 .25em;
  padding: .25em;
  border: 1px solid #ddd;
  border-radius: 8px; }

/*------------------------------------*    #SWATCHES
\*------------------------------------*/
#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em; }

.s-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px; }

.s-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important; }
  .s-colors li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid #ddd;
    border-radius: 8px; }

.s-label {
  font-size: 90%;
  line-height: 1; }

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer; }

/*------------------------------------*    #BUTTONS
\*------------------------------------*/
.s-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important; }
  .s-buttons span {
    margin: 0.75em 0; }
  .s-buttons li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em; }

/*------------------------------------*    $BASE
\*------------------------------------*/
/*------------------------------------*    #BODY
\*------------------------------------*/
/**
 * Body base styles
 */
body {
  background: #ffffff;
  color: #767676;
  font: 100%/1.5 "Nunito", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

/*------------------------------------*    #ANIMATION
\*------------------------------------*/
/*------------------------------------*    #FADE ANIMATION
\*------------------------------------*/
.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  .animate-fade:hover {
    opacity: 0; }

/*------------------------------------*    #FORMS
\*------------------------------------*/
/**
 * Fieldset base styles
 */
fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

/**
 * Label base styles
 */
label {
  display: block;
  padding-bottom: 0.2rem;
  font-weight: bold; }

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/**
 * Input and text area base styles
 * 1) Width entire container, gray border, padding
 */
input, textarea {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 1rem; }

/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

/**
 * Button/Submit button base styles
 */
button, input[type="submit"] {
  padding: 0.5em;
  background: #767676;
  border: 1px solid #c5c5c5;
  cursor: pointer; }

/**
 * Checkboxes/Radio button base styles
 */
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em; }

/**
 * Search cancel button and search decoration webkit appearance none
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*------------------------------------*    #GLOBAL CLASSES
\*------------------------------------*/
/**
 * Clearfix
 */
.cf {
  *zoom: 1; }

/**
 * Clearfix pseudo-elements
 */
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * Completely remove from the flow and screen readers.
 */
.is-hidden {
  display: none !important;
  visibility: hidden !important; }

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/**
 * Text align right
 */
.align-right {
  text-align: right; }

/**
 * Text align center
 */
.align-center {
  text-align: center; }

/**
 * Text Align left
 */
.align-left {
  text-align: left; }

/**
 * Hide on small screens
 */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none; } }

/**
 * Hide on medium screens
 */
@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none; } }

/**
 * Hide on large screens
 */
@media all and (min-width: 50em) {
  .hide-large {
    display: none; } }

/**
 * Show valid text color
 */
.valid {
  color: #1fe31f; }

/**
 * Show error text color
 */
.error {
  color: #e31f1f; }

/**
 * Show warning text color
 */
.warning {
  color: #fada4a; }

/**
 * Show informational text color
 */
.information {
  color: #fada4a; }

/**
 * Display secondary font family
 */
/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Heading 1
 */
h1 {
  font-size: 3rem;
  line-height: 1.2; }

/**
 * Heading 2
 */
h2 {
  line-height: 1.2; }

/**
 * Heading 3
 */
h3 {
  line-height: 1.2; }

/**
 * Heading 4
 */
/**
 * Heading 5
 */
/**
 * Heading 6
 */
/**
 * Subheading
 */
.subheading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal; }

/*------------------------------------*    $COMPONENTS
\*------------------------------------*/
/*------------------------------------*    #BUTTONS
\*------------------------------------*/
/**
 * Buttons
 */
.s-btn {
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 6px;
  text-align: center;
  /**
	 * Disabled buttons
	 */ }
  .s-btn.primary {
    background: #0097ef;
    border: 1px solid transparent;
    color: #ffffff;
    transition: background 0.2s ease; }
    .s-btn.primary:focus, .s-btn.primary:hover {
      background: #007ed6; }
  .s-btn.outline {
    background: #ffffff;
    border: 1px solid #0097ef;
    color: #0097ef;
    transition: all 0.2s ease; }
    .s-btn.outline:focus, .s-btn.outline:hover {
      background: #007ed6;
      color: #ffffff;
      border-color: #ffffff; }
  .s-btn.text {
    background: transparent;
    border: 1px solid transparent;
    color: #0097ef;
    transition: color 0.2s ease; }
    .s-btn.text:focus, .s-btn.text:hover {
      color: #007ed6; }
  .s-btn.primary-disabled {
    background: #c5c5c5;
    color: #ffffff; }
  .s-btn.outline-disabled {
    background: #ffffff;
    border: 1px solid #c5c5c5;
    color: #c5c5c5; }
  .s-btn.text-disabled {
    background: transparent;
    border-color: transparent;
    color: #c5c5c5; }

/**
 * Small button
 */
.s-btn-small {
  padding: 0.5em; }

/**
 * Large button
 */
.s-btn-large {
  padding: 0.5em;
  text-transform: uppercase;
  background: #c5c5c5;
  font-size: 1.4rem;
  font-weight: normal; }

/**
 * Text button with arrow
 */
.s-text-btn {
  position: relative;
  background: none;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem; }
  .s-text-btn:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: url("../../../images/icon-arrowhead.svg") no-repeat;
    top: 7px;
    right: -26px;
    transition: all 0.2s ease; }
  .s-text-btn:hover, .s-text-btn:focus {
    color: #767676; }
    .s-text-btn:hover:after, .s-text-btn:focus:after {
      right: -28px; }
  .s-block-media--small .s-text-btn {
    font-size: 1rem; }

/**
 * Button on overlay
 */
.s-btn--overlay {
  background: #c5c5c5; }
