<ul class="s-colors">
		<li>
		<span class="s-swatch" style="background: #00c4da;"></span>
		<span class="s-label">
			$color-script-blue-green <br />
			#00c4da
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #0097ef;"></span>
		<span class="s-label">
			$color-script-blue <br />
			#0097ef
		</span>
	</li>
	<li>
		<span class="s-swatch" style="background: #007ed6;"></span>
		<span class="s-label">
			$color-script-blue-dark <br />
			#007ed6
		</span>
	</li>
</ul>