/*------------------------------------*\
    #SCAFFOLDING
\*------------------------------------*/




/*------------------------------------*\
    #SWATCHES
\*------------------------------------*/

.s-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}
